#authorboxbody {background:url('images/aabbg.jpg') repeat;width:600px;margin:10px auto;border-top:1px dotted #000;border-bottom:1px dotted #000;height:auto;}
.authorinfo {float:left;width:460px;height:auto;padding-right:0px !important;}
.authorinfo img.gravatar{margin:5px 10px 0 10px;display:inline;float:left;height:70px;width:70px;border:2px solid #9d9d9d;float:left;float:left;}
.authorinfo img:hover.gravatar{-webkit-box-shadow:0 0 4px #404040;-moz-box-shadow:0 0 4px #404040;box-shadow:0 0 4px #404040;}
.authorinfo p.authorname{display:inline;font-family:Verdana;font-size:15px;font-weight:bold;text-transform:none !important;text-align:left;text-shadow:1px 1px 1px #fff;}
.authorinfo p.authorname a{color:#5986c5;text-decoration:none;}
.authorinfo p.description, .authorinfo p.website{font-family:Verdana;font-size:12px;text-align:left;margin:0 0 10px 10px;text-shadow:1px 1px 1px #fff;}
.authorinfo p.description a {color:#312f8e;font-weight:bold;text-shadow:1px 1px 1px #fff;}
.authorinfo p.website a{color:#ffa650;font-weight:bold;}
.authorsocial {width:130px !important;height:auto;float:right;}
.authorsocial p{font-family:Verdana;font-size:14px;text-align:center;font-weight:bold;margin:0 0 10px 0;font-variant: small-caps;text-decoration:underline;color:#404040;text-shadow:1px 1px 1px #787878;}
.authorsocial .socialicons {width:120px !important;margin:auto !important;}
.authorsocial a img{width:25px;height:25px;display:inline !important;border:none;margin:0 5px 5px 0;}
.clear {clear:both;}